.priLogo {
  width: 140px;
}

.encabezado {
  border-top: 30px solid #87ceeb;
  background-color: $color-blanco;
}

.fuentesNav {
  font-size: 15px;
  text-transform: uppercase;
  padding-left: 15px;
}